@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="left-nav" class="two columns" style="border-right: 2px solid black;">
        <h5>Creating Content</h5>
        blah blah <br />
        blah blah <br />blah blah <br />blah blah <br />blah blah <br />
        <h3>Stuff</h3>
        blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />
        blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />
        blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />
        blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />blah blah <br />
    </div>
    <div class="ten columns" style="border: 1px solid black;">
         @RenderBody()
    </div>
