@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <section id="sidebar" class="two columns">
    <ul class="tabs vertical" id="left-nav" >
        <li>Getting Started
        <ul>
            <li>Loading HTML</li>
            <li>Rendering</li>
        
        </ul>
        </li>
        <li></li>
    </ul>
   </section>
    <div class="ten columns" style="border: 1px solid black;">
         @RenderBody()
    </div>
