    <div class="nav-bar-bg">
        <ul class="nav-bar" style="float:right;">
            <li><a href="#">Get It</a></li>
            <li><a href="#">Examples</a></li>
            <li class="has-flyout">
                <a href="#">Documentation</a>
                
                <a href="#" class="flyout-toggle"></a>
                <ul class="flyout">
                    <li><a href="/CsQueryApi">CsQuery API</a></li>
                    <li><a href="#">Differences from jQuery</a></li>
                </ul>
            </li>
            
        </ul>
        <div style="position: absolute; top:0; left: 0;">
            <img style="margin-left: 8px;" src="images/csquery-logo-white.gif" >
        </div>
    </div>
