@using CsQuery.Mvc;

@{   

    ViewBag.Title = "Test Controller Invalid Dependencies";
}

<script src="~/scripts/test-script-8.js"></script>

<h2>@ViewBag.Message</h2>
<div id="index-content"></div>
<p>
    This view contains a reference to a script with invalid dependencies.
</p>

