@using CsQuery.Mvc;

@{   

    ViewBag.Title = "Test Controller Home Page";
}

<script src="scripts/test-script.js"></script>

<h2>@ViewBag.Message</h2>
<div id="index-content"></div>
<p>
    Content on Index Path
</p>

@Html.HtmlTag("div").AddClass("testclass").Attr("id", "test-cq-helper").Text("This is the inner text");
@Html.HtmlTag("<div id='test-cq-helper2' class=testclass2></div>");
