@using CsQuery.Mvc;

@{   

    ViewBag.Title = "Test Index 3";
}

@Html.Script("scripts/test-script",ScriptLocations.Head)

<h2>@ViewBag.Message</h2>
<div id="index-content"></div>
<p>
    Content on Index Path
</p>

