@{   

    ViewBag.Title = "Test Index 5";
    Layout = "";
}
<html>
    <head>
        <title></title>
        <script type="text/javascript" src="~/scripts/test-script-4.js"></script>
    </head>
    <body>
    
    </body>
</html>
