@using CsQuery.Mvc;

@{   

    ViewBag.Title = "Test Controller Invalid Dependencies";
}

@Html.Script("scripts/test-script-fail.js")

<h2>@ViewBag.Message</h2>
<div id="index-content"></div>
<p>
    This view contains a reference to a script with invalid dependencies.
</p>

