@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    This sample application shows you how to integrate CsQuery into an ASP.NET MVC application. It lets you intercept the HTML output and manipulate it from a view action before it's
    rendered. Click on the "About" tab to see a demonstration.
</p>

