@{   

    ViewBag.Title = "Test Index 6";
    Layout = "";
}
<html>
    <head>
        <title></title>
        <!-- when the "dependency" option is provided, the script should be removed unless needed by another script on the page. -->
        <script src="~/scripts/test-script-2.js" data-cdn="http://test.com/test-script-2.js" data-options="dependency"></script>
        
        <script src="~/scripts/test-script-3.js"></script>

        <script type="text/javascript" src="~/scripts/test-script-4.js"></script>

        <script type="text/javascript" src="/bundle/test?x"></script>
        <script type="text/javascript" src="/missing"></script>
    </head>
    <body>
    
    </body>
</html>
