.syntaxhighlighter code
{
    background-color: transparent;
}
.syntaxhighlighter .container
{
    background-color: #0F192A;
}
.syntaxhighlighter table
{
    background-color: inherit;
    width: 100%;
    border: 0;
    padding: 0;
    border-collapse: collapse;
}
.nav-bar-bg { height: 40px; background: #4d4d4d; margin-top: 0px; padding: 0; }
.row {
     width: 100%;
}