<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsQuery" version="1.2.1.60" targetFramework="net40" />
  <package id="IQMap" version="1.0.1.31" targetFramework="net40" />
  <package id="IQObjectMapper" version="1.0.5.30" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="TemplateTables" version="1.0.2.16" targetFramework="net40" />
  <package id="WebGrease" version="1.1.0" targetFramework="net40" />
</packages>