<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>CsQuery.Mvc Unit Test</h1>
            </div>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
